.container {
  text-align: center;
}

.grid {
  --card-size: 13rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--card-size), 1fr));
  grid-auto-rows: minmax(var(--card-size), auto);
  gap: 1rem;
}

.message {
  font-size: 2rem;
  font-weight: bold;
}

.message.success {
  color: #48bb78;
}
